.App .combination-lock {
  border: 10px solid #ccc;
  background-color: #000;
  width: 250px;
  margin: 0 auto;
  padding: 10px 10px;
  margin-top: 50px;
}

.App .password {
  width: 100%;
  border: 3px solid blue;
  margin-bottom: 10px;
  padding: 10px 5px;
  font-size: 22px;
  height: 50px;
  outline: none;
  background-color: #fff;
}

.App .input:focus {
  border: 3px solid red;
}

.App .answer {
  color: #000;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: 3px solid blue;
  margin-bottom: 10px;
}

.App .buttons {
  width: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App .btn {
  width: 65px;
  height: 65px;
  background-color: #fff;
  margin-bottom: 5px;
  border: 3px solid rgb(0, 26, 255);
  font-size: 22px;
  outline: none;
}